# VERSION format
# YEAR.WEEK.DAY.HOUR.MIN

_YEAR_ = $(strip $(shell $(DATE) +%Y))
_WEEK_ = $(strip $(shell $(DATE) +%V))
_DAY_  = $(strip $(shell $(DATE) +%u))
_HOUR_ = $(strip $(shell $(DATE) +%H))
_MIN_  = $(strip $(shell $(DATE) +%M))

export MAJOR_VER = $(_YEAR_).$(_WEEK_)
export MINOR_VER = $(_DAY_).$(_HOUR_).$(_MIN_)

